# .dockerignore

# Terraform
infra/
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Ambiente virtual
venv/
.env/
env/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml